.navigation{
  position: fixed;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: top 0.3s ease, background-color 0.3s ease;
  .container{
    display: flex;
    flex-flow: row;
    padding: 0 20px;
    justify-content: space-evenly;
    align-items: center;
  }
  &-list{
    list-style: none;
    margin-left: auto;
    border-right: 1px solid white;
    padding-right: 15px;
    &__item{
      display: inline-block;
      &:not(:last-child) {
        padding-right: 20px;
      }
      a{
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        transition: color 0.3s ease;
        &:hover{
          color: $second-font-color;
        }
      }
      &--active{
        a{
          color: $third-font-color;
        }
      }
    }
    &--scrolled{
      border-right: 1px solid $second-font-color;
      .navigation-list__item{
        a{
          color: $second-font-color;
          &:hover{
            color: $third-font-color;
          }
        }
      }
      .navigation-list__item--active{
        a{
          color: $third-font-color;
        }
      }
    }
  }
  &--scrolled{
    background-color: white;
    top: 0;
    @include nav-shadow;
    .logo{
      a{
        color: $second-font-color;
      }
    }
    .container{
      padding: 8px 20px;
    }
  }
  &-bottom{
    .navigation-list{
      padding-right: 0;
      padding-left: 20%;
      border: none;
      &__item{
        a{
          color: $second-font-color;
          &:hover{
            color: $third-font-color;
          }
        }
        &--active{
          a{
            color: $third-font-color;
          }
        }
      }
    }
  }
}