.portfolio{
  @extend .content;
  max-width: 100%;
  box-sizing: border-box;
  .tags{
    &-filter{
      text-align: left;
    }
  }
  h5{
    @include second-theme-font;
    font-size: 20px;
    margin: 40px 0 20px 20px;
  }
  &-brands{
    width: 95%;
    margin: 40px auto;
    &__item{
      display: block;
      width: 20%;
      height: 100px;
      img{
        display: block;
        margin: auto;
        max-width: 90%;
        height: 90%;
        max-height: 100px;
      }
    }
  }
  .slick-slider{
    margin: 40px 0;
  }
  .slick-dots {
    bottom: -35px;
    .slick-active{
      button{
        background: $third-font-color;
      }
    }
    li {
      width: auto;
      height: auto;
      button{
        width: 12px;
        height: 12px;
        background: $second-font-color;
        border-radius: 50%;
        @include nav-shadow;
        &::before{
          content: none;
        }
        &:hover{
          background: $main-font-color;
        }
      }
    }
  }
}

.work-data{
  img{
    cursor: zoom-in;
  }
  h5{
    margin: 30px 0 20px 20px;
  }
  .slick{
    @each $arrow in (prev, next) {
      &-#{$arrow} {
        top: calc(50% - 13px);
        z-index: 10;
      }
    }
    &-prev{
      left: 0;
      z-index: 10;
    }
    &-next{
      right: 0;
      z-index: 10;
    }
    &-dots{
      position: relative;
      top: 10px;
      bottom: 0;
    }
    &-slide{
      box-sizing: border-box;
      padding: 0 20px;
    }
  }
  .content{
    margin: 0;
    padding-left: 25px;
    blockquote{
      margin: 0;
      font-style: italic;
    }
    p{
      text-align: left;
    }
  }
  i{
    cursor: default;
  }
}

