.tags{
  margin: 80px 0 0;
  &-filter{
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    &__item{
      font-size: 18px;
      display: inline;
      position: relative;
      top: 2px;
      cursor: pointer;
      transition: all 0.3s ease;
      &[data-tag=react] {
        &::before{
          color: #61dafb;
        }
      }
      &[data-tag=vuejs] {
        &::before{
          color: #4fc08d;
        }
      }
      &[data-tag=nodejs] {
        &::before{
          color: #026e00;
        }
      }
      &[data-tag=python] {
        &::before{
          color: #75a8d3;
        }
      }
      &[data-tag=php] {
        &::before{
          color: #8892be;
        }
      }
      &[data-tag=wordpress] {
        &::before{
          color: #21759b;
        }
      }
      &[data-tag=android] {
        &::before{
          color: #a4c639;
        }
      }

      &:first-child{
        margin-left: 5px;
      }
      &:not(:first-child){
        margin-left: 2px;
      }
      &:hover{
        margin-top: -100px;
      }
    }
  }
}