.content {
  max-width: 600px;
  width: 100%;
  padding: 0 10px;
  margin: auto;

   @each $btn in (prev, next) {
     .slick-#{$btn} {
       top: -35px;
       &::before{
         color: $third-font-color;
         font-size: 25px;
       }
     }
   }


  .slick{
    &-slider{
      margin: 70px 0 40px;
    }
    &-prev{
      left: 35%;
      &::before{
        @include chevron-left-icon;
      }
    }
    &-next{
      right: 35%;
      &::before{
        @include chevron-right-icon;
      }
    }
  }
  .slick-dots {
    bottom: 0px;
    .slick-active{
      button{
        background: $third-font-color;
      }
    }
    li {
      width: auto;
      height: auto;
      button{
        width: 12px;
        height: 12px;
        background: $second-font-color;
        border-radius: 50%;
        @include nav-shadow;
        &::before{
          content: none;
        }
        &:hover{
          background: $main-font-color;
        }
      }
    }
  }

  p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-weight: 100;
    padding-bottom: 10px;
  }
  h5 {
    font-size: 18px;
    margin: 30px 0 10px;
    font-weight: 100;
    padding-left: 4px;
    border-left: 2px solid $third-font-color;
  }
  .carousel {
    .slider-wrapper.axis-horizontal .slider .slide {
      min-height: 600px;
    }
    &.carousel-slider {
      overflow: visible;
      .control-arrow {
        top: -40px;
        bottom: auto;
        opacity: 1;
        &::before {
          border: none;
          color: $third-font-color;
          font-weight: bold;
          transition: color 0.3s ease;
        }
        &:hover {
          background: none;
        }
      }
    }
    .control-next.control-arrow {
      right: 40%;
      &::before {
        @include chevron-right-icon;
      }
    }
    .control-prev.control-arrow {
      left: 40%;
      &::before {
        @include chevron-left-icon;
      }
    }
    @each $nav-arrow in (next, prev) {
      .control-#{$nav-arrow}.control-arrow {
        &::before {
          font-weight: 100;
        }
        &:hover {
          &::before {
            color: $content-font-color;
          }
        }
      }
    }

    .slide {
      background: none;
      img {
        pointer-events: all;
      }
    }
  }
}

.preview{
  margin-top: 50px;
  margin-bottom: 30px;
  @include fade-in;
  &-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 600px;
    &__item{
      box-sizing: border-box;
      width: 45%;;
      img{
        cursor: zoom-in;
        border-radius: 10px;
        display: block;
        margin: auto auto 27px;
        width: 100%;
        @include nav-shadow;
        transition: all 0.3s ease;
        &:hover{
          @include buttons-shadow;
        }
      }
    }
  }
  
}