.contact-links{
  &-list{
    list-style: none;
    padding: 0;
    margin-left: 15px;
    &__item{
      color: white;
      display: inline-block;
      &:not(:last-child) {
        margin-right: 15px;
      }
      @each $contact in (telegram, skype, whatsup, github, bitbucket) {
        &--#{$contact} {
          a{
            display: block;
            margin: 0 5px;
            text-align: center;
            color: white;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s ease;
          }
        }
      }
      &--telegram {
        a{
          position: relative;
          top: -1px;
          &::before{
            @include telegaram-icon;
          }
          &:hover{
            color: #0088cc;
          }
        }
      }
      &--skype{
        a{
          font-size: 24px;
          &::before{
            @include skype-icon;
          }
          &:hover{
            color: #00AFF0;
          }
        }
      }
      &--whatsup{
        a{
          font-size: 24px;
          &::before{
            @include whatsup-icon;
          }
          &:hover{
            color: #25D366;
          }
        }
      }
      &--github{
        a{
          font-size: 25px;
          &::before{
            @include gihub-icon;
          }
          &:hover{
            color: #2dba4e;
          }
        }
      }
      &--bitbucket{
        a{
          font-size: 24px;
          &::before{
            @include bitbucket-icon;
          }
          &:hover{
            color: #205081;
          }
        }
      }
    }
    &--scrolled{
      .contact-links-list__item{
        @each $contact in (telegram, skype, whatsup, github, bitbucket) {
          &--#{$contact} {
            a{
              color: $second-font-color;
            }
          }
        }
        &--telegram {
          a{
            position: relative;
            top: -1px;
            &::before{
              @include telegaram-icon;
            }
            &:hover{
              color: #0088cc;
            }
          }
        }
        &--skype{
          a{
            font-size: 24px;
            &::before{
              @include skype-icon;
            }
            &:hover{
              color: #00AFF0;
            }
          }
        }
        &--whatsup{
          a{
            font-size: 24px;
            &::before{
              @include whatsup-icon;
            }
            &:hover{
              color: #25D366;
            }
          }
        }
        &--github{
          a{
            font-size: 25px;
            &::before{
              @include gihub-icon;
            }
            &:hover{
              color: #2dba4e;
            }
          }
        }
        &--bitbucket{
          a{
            font-size: 24px;
            &::before{
              @include bitbucket-icon;
            }
            &:hover{
              color: #205081;
            }
          }
        }
      }
    }
  }
}