@import './nav-menu/nav-menu';

header{
  .react-parallax{
    position: relative;
    @include fade-in;
    img{
      top: -100px;
    }
    &::before{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      content: "";
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.logo{
  a{
    text-decoration: none;
    margin: 0;
    line-height: normal;
    @include logo-font;
    font-size: 27px;
    color: white;
    transition: color 0.3s ease;
    &:hover{
      color: $second-font-color;
    }
  }
}

