.paginator{
  text-align: center;
  @each $nav in (next, prev, page) {
    &__#{$nav} {
      text-decoration: none;
      color: $main-font-color;
      i{
        font-size: 40px;
      }
      &--not-active{
        opacity: .6;
      }
    }
  }
  &__page{
    position: relative;
    bottom: 13px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 10px;
    line-height: normal;
    &--active{
      color: $third-font-color;
    }
  }
}