.popup{
  position: relative;
  top: 50px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  @include fade-in;
  img{
    width: inherit;
  }
  &-close{
    position: absolute;
    color: white;
    right: -40px;
    top: -40px;
    cursor: pointer;
    transition: color 0.3s ease;
    i{
      font-size: 40px;
    }
    &:hover{
      color: $third-font-color;
    }
  }
  &-overlay{
    overflow: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
  }
}