.footer{
  position: relative;
  z-index: 4;
  margin-top: -30px;
  height: 60px;
  &-block{
    &__left{
      float: left;
      width: 50%;
    }
    &__right{
      float: right;
      width: 50%;
    }
  }
}