@import "paginator/paginator";

.preview-image{
  position: relative;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include nav-shadow;
  border-radius: 15px;
  transition: all 0.3s ease;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    display: block;
    margin: auto;
    top: calc(50% - 10px);
    right: 0;
    border-radius: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(0);
    transition: transform 0.2s ease-in;
    z-index: 2;
  }
  &::after{
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  h3, p, time{
    position: relative;
    z-index: 4;
    display: block;
    text-align: center;
    color: white;
    @include content-text-shadow;
  }
  time{
    text-align: right;
    padding: 10px 10px 0 0;
    .material-icons{
      position: relative;
      top: 3px;
      right: 2px;
    }
  }
  h3{
    top: 15%;
  }
  p{
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease;
  }
  &:hover{
    @include buttons-shadow;
    p{
      opacity: 1;
      color: white;
      transform: translateY(0);
    }
    &::before{
      transform: scale(20);
    }
  }
}

.blog{
  &-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 40px;
    &__item{
      width: 24%;
      div{
        text-align: center ;
      }
      a{
        text-decoration: none;
        color: $second-font-color;
      }
    }

  }
  &-post{
    position: relative;
    @extend .content;
    &__back-link{
      display: inline-block;
      position: absolute;
      color: $second-font-color;
      text-transform: uppercase;
      text-decoration: none;
      i{
        font-size: 25px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 2px;
      }
      &:hover{
        color: $third-font-color;
      }
    }
    &__image{
      width: 100% !important;
      img{
        width: 100% !important;
        object-fit: contain !important;
        object-position: center !important;
      }
    }
  }
}
