.button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 0;
  }
  &-preview{
    color: $second-font-color;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    max-width: 100px;
    width: 100%;
    margin: 10px 15px;
    text-align: center;
    transition: all .3s;
    border-radius: 4px;
    padding: 0 10px 10px;
    box-sizing: border-box;
    i{
      display: block;
      font-size: 30px;
      padding: 15px 0;
    }
    &:hover{
      background-color: rgba(200, 200, 200, 0.2);
    }
    &--active{
      background-color: $third-font-color;
      @include buttons-shadow;
      color: white;
      &:hover{
        background-color: $third-font-color;
      }
    }
  }
}