.not-found-header{
  font-size: 250px;
  margin: 40px auto 0;
  max-width: 450px;
  width: 100%;
  line-height: 235px;
  @include logo-font;
  @include textGlitch("not-found-header", 17, $main-font-color, white, red, $third-font-color, 450, 280);
  border-bottom: 1px dashed $content-font-color;
  border-top: 1px dashed $content-font-color;
}

.content{
  &--404{
    margin-bottom: 25px;
    p{
      font-size: 18px;
      margin: 0;
      color: $second-font-color;
      a{
        color: $third-font-color;
        text-decoration: none;
      }
    }
  }
}