@import "./../assets/vendor/fontisto/fontisto";

@mixin telegaram-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f2c6';
}

@mixin skype-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f17e';
}

@mixin whatsup-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f232';
}

@mixin gihub-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f09b';
}

@mixin bitbucket-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f171';
}

@mixin circle-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f111';
}

@mixin chevron-left-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f053';
}

@mixin chevron-right-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f054';
}

.bitrix-icon{
  display: inline;
  &::before{
    content: ' ';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../assets/images/icons/1c_bitrix_logo.png") no-repeat center;
    background-size: cover;
  }
}

.express-icon{
  display: inline;
  &::before{
    content: ' ';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../assets/images/icons/expressjslogo.png") no-repeat center;
    background-size: cover;
  }
}

.modx-icon{
  display: inline;
  &::before{
    content: ' ';
    display: inline-block;
    width: 40px;
    height: 18px;
    background: url("../assets/images/icons/modx.png") no-repeat center;
    background-size: cover;
  }
}

.django-icon{
  display: inline;
  &::before{
    position: relative;
    left: 2px;
    content: ' ';
    display: inline-block;
    height: 18px;
    width: 40px;
    background: url('../assets/images/icons/django.png') no-repeat center;
    background-size: cover;
  }
}
