@import "material-icons";
@import "normalize";
@import "fonts";
@import "icons";
@import 'variables';
@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "animations";
@import "./../elements/buttons/buttons";
@import "./../components/header";
@import "./../components/links/links";
@import "main";
@import "./../components/content/content";
@import "./../components/footer/footer";
@import "./../elements/popups/popup";
@import "./../elements/tags-list/tags-list";
@import "./../components/blog/blog";
@import "./../components/portfolio/portfolio";
@import "404";

body{
  @include first-theme-font-regular;
  font-size: 16px;
  background-color: #eee;
}

@import "mobile-styles";