main{
  position: relative;
  z-index: 2;
}

.parallax-outer{
  position: relative;
  z-index: 2;
  margin-top: -350px;
}
.mobile-menu{
  display: none;
}

.hamburger{
  display: none;
}

.main{
  padding: 0 20px;
  color: $second-font-color;
  .contact-links-list{
    padding: 0;
    margin: 0;
    text-align: center;
    &__item {
      a{
        color: $content-font-color;
      }
    }
  }
  &-header{
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    @include second-theme-font;
  }
  &-subheader{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
  }
}

.container{
  max-width: 1240px;
  margin: auto;
  &--fly{
    background-color: white;
    position: relative;
    border-radius: 7px;
    min-height: 500px;
    top: -40px;
    padding-bottom: 20px;
    @include main-shadow;
    transition: height 1.3s ease;
  }
}

.rounded-circle{
  border-radius: 50%;
}

.title-image{
  margin: 0 0 -70px;
  text-align: center;
  transform: translate3d(0, -50%, 0);

  img{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    @include image-shadow;
  }

  i{
    color: $third-font-color;
    font-size: 120px;
    padding: 20px;
    max-width: 160px;
    margin: 0 auto;
    @include image-shadow;
    background-color: white;
  }
}

.copyrights{
  text-align: center;
  color: $second-font-color;
  font-weight: 100;
  span{
    @include logo-font;
    color: $third-font-color;
    font-size: 20px;
  }
}

