@media screen and (min-width: 320px) and (max-width: 620px) {
  .navigation{
    top: 0;
    background-color: white;
    @include main-shadow;
    &-list{
      display: none;
    }
    &-bottom{
      width: 100%;
      .navigation-list{
        display: block;
      }
    }
    .logo{
      width: 100%;
      padding: 10px 0;
      a{
        display: block;
        width: 100%;
        color: $second-font-color;
      }
    }
    &--scrolled{
      .container{
        padding: 0 20px;
      }
    }
  }
  .contact-links-list{
    display: none;
  }
  @each $desktop-menu in (navigation, contact-links) {
    .#{$desktop-menu}-list{
      display: none;
    }
  }
  .hamburger{
    display: block;
    position: relative;
    top: 3px;
    &:focus{
      outline: none;
    }
  }
  .mobile-menu{
    position: absolute;
    right: 0;
    top: 54px;
    display: block;
    background-color: white;
    transform: translateX(100%);
    transition: transform .3s ease;
    @include main-shadow;
    @each $desktop-mobile-menu in (navigation, contact-links) {
      .#{$desktop-mobile-menu}-list{
        display: block;
      }
      @if($desktop-mobile-menu == 'contact-links') {
        .#{$desktop-mobile-menu}-list{
          background-color: $content-font-color;
          margin: 0;
          padding: 10px;
        }
      } @else if($desktop-mobile-menu == 'navigation') {
        .#{$desktop-mobile-menu}-list{
          &--scrolled{
            border-right: none;
          }
          padding: 0 10px;
          &__item{
            a{
              color: $second-font-color;
            }
            &--active{
              a{
                color: $third-font-color;
              }
            }
            margin-bottom: 10px;
            padding: 0;
            display: block;
            text-align: left;
          }
        }
      }
    }
    &--is-open{
      transform: translateX(0);
    }
  }

  .parallax-outer{
    margin-top: -440px;
  }

  .content{
    box-sizing: border-box;
    .carousel .slider-wrapper.axis-horizontal .slider .slide{
      min-height: auto;
    }
    .slick-slider{
      margin-top: 0;
    }
  }
  .blog {
    &-list{
      padding: 0 10px;
      &__item{
        width: 100%;
        margin-bottom: 20px !important;
      }
    }
  }
  .preview-image{
    &::before{
      transform: scale(20);
    }
    p{
      transform: translateY(0);
      opacity: 1;
    }
  }
  .footer-block{
    @each $block in (left, right) {
      &__#{$block} {
        float: none;
        width: 100%;
      }
      @if($block == 'right') {
        &__#{$block} {
          margin-bottom: 20px;
        }
      }
    }
  }

  /*404 Styles*/
  .not-found-header{
    max-width: 250px;
    font-size: 140px;
    line-height: 140px;
    @include textGlitch("not-found-header", 17, $main-font-color, white, red, $third-font-color, 250, 140);
    margin-bottom: 0;
  }

  /*Portfolio styles*/
  .portfolio{
    &-brands{
      &__item{
        display: block;
        width: 50%;
        height: 50px;
        img{
          display: block;
          margin: auto;
          max-width: 90%;
          height: 90%;
          max-height: 50px;
        }
      }
    }
  }

  .preview{
    &-block{
      &__item{
        width: 95%;
        margin: auto;
      }
    }
  }
}