$main-font-color: #212529;
$second-font-color: #3C4858;
$third-font-color: #881F62;
$content-font-color: #999;

@mixin first-theme-font-regular{
  font-family: RobotoRegular, Arial, sans-serif;
}

@mixin second-theme-font{
  font-family: RobotoSlab, Arial, sans-serif;
}

@mixin logo-font{
  font-family: Lobster, Arial, sans-serif;
}

@mixin main-shadow{
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
  0 6px 30px 5px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@mixin image-shadow{
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@mixin nav-shadow{
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

@mixin buttons-shadow{
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);
}

@mixin content-text-shadow{
  text-shadow: 1px 1px 1px $content-font-color;
}

/*Hamburger settings*/
$hamburger-padding-x                       : 10px !default;
$hamburger-padding-y                       : 10px !default;
$hamburger-layer-width                     : 35px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : $second-font-color !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
